<h1 id="welcome">Welcome to Rock, Paper, Scissors</h1>

<ol>
	<li>The game requires <strong>2 players</strong></li>
		<li>Rather than having to make a fist and count to 3, each player just enters their guess of either a <strong>rock</strong>, a piece of <strong>paper</strong> or a pair of <strong>scissors</strong> in the web address above, replace "welcome" with your guesses, separated by a forward slash. For example <strong>rock/paper</strong></li>
	<li><strong>Rock</strong> blunts or crushes <strong>scissors</strong>, so the player who chooses <strong>rock</strong> wins; <strong>paper</strong> covers <strong>rock</strong>, so <strong>paper</strong> wins and <strong>scissors</strong> cut <strong>paper</strong>, so <strong>scissors</strong> wins.</li>
</ol>
